# Ignore Assets and logs dirctories
repitframework/Assets/
repitframework/logs/
repitframework/ModelDump/
repitframework/plots/*
*.pyc
.vscode/
**/__pycache__
repitframework.egg-info/
repitframework/Solvers/**/[0-9]/       # Ignore integer directories
repitframework/Solvers/**/[0-9]*.[0-9]*/ # Ignore float directories
!repitframework/Solvers/**/0      # Except this directory
epitframework/Solvers/